<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 lang="ja">
 <head>
  <meta charset="utf-8" />
  <title>ログイン</title>
 </head>
 <body>
  <h1>ログイン</h1>
  <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
   <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">ユーザーIDまたはパスワードが違います</span>
  </div>
  <form action="index.html" th:action="@{/login}" method="post">
   <input type="text" name="username" />
   <input type="password" name="password" />
   <button>ログイン</button>
  </form>
 </body>
</html>
